#coverpage-title input[type=text].h1 {
    margin-top : 1em;
    font-size: 3.75em;
    font-weight: 700;
}

input[type=text].h1 {
    margin-top: 3em;
    font-weight: 700;
    font-size: 2.5em;
}

input[type=text].h2 {
    font-size : 1.75em;
    font-weight: 300;
}

#menu {
    position: fixed;
    background: white;
    width: 100%;
    margin : 0 auto;
    top: 0;
    padding-top: 3em;
    padding-bottom: 1em;
    z-index: 100;
}

@media print {
    #menu {
        display : none;
    }
}

.create-buttons {
    display: flex;
    margin-top: 5px;
}

.create-buttons button {
    flex-grow : 1;
    flex-basis: 0;
}

#manual .image-editor {
    border-radius: 0.25em;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    background: azure;
}

#manual .image-editor > section.leftSource {
    float: left;
}

#manual .image-editor > section.rightSource {
    float: right;
}

#manual .image-editor > section.commonSettings {
    clear: both;
    text-align: center;
}

.flyout__wrapper {
    min-width: 150px;
}

.flyout header {
    text-align: center;
}

.editor {
    border : 1px solid black;
}

textarea {
    width: 100%;
}

.editor ul {
    list-style-type: none;
    display: block;
}

.editor ul li {
    display: inline-block;
    margin-right: 2em;
}

.instruction-list input {
    margin-left: 2.25em;
    margin-top: 0.75em;
}

.instruction-list li {
    min-height: 19px;
}

div.removable {
  position:relative;
}

div.removable:hover > button {
    position: absolute;
    top: 0%;
    right: 0%;
}

div.removable:not(:hover) > button {
  display: none;
}

@media print  {
    div.removable > button {
        display: none;
    }
}

.instruction-list div.DraftEditor-root {
    margin-left: 2.25em;
    margin-top: 0.75em;
}

.instruction-list .instruction-list div.DraftEditor-root {
    margin-left: 2.25em;
    margin-top: 1em;
}

div.DraftEditor-root {
    font-family: 'Lora', serif;
    line-height: 1.5em;
    padding-bottom: 1.5em;
}

.edit-hint {
    text-align: right;
    color: grey;
    margin-left: auto;
    margin-right: 1em;
    display: block;
}

@media print {
    .edit-hint {
        display:none;
    }
}

@media print {
    div.public-DraftEditorPlaceholder-root {
        display: none;
    }
}
